#footer{
    width:100%;
    /* background-color:#379683; */
    border:solid 10px#05386B  ;
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}
#footer img{
    height:100px;
    width:100px;
}
#footer ul{
    position: relative;
    margin-right: 20px;
}
#footer p{
    position: relative;
    margin-top: 70px;
}