<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>visit Brussels</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-transparent bg-transparent">
        <a class="navbar-brand" href="index">
            <img src="/img/atomium.svg" width="120px" height="100px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Découvrir
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Musées</a>
                        <a class="dropdown-item" href="#">Monuments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Parc bruxellois</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dormir</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manger & Boire
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Restaurants</a>
                        <a class="dropdown-item" href="#">Bars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vie nocturne</a>
                </li>

                <% if(connected){ %>
                    <li class="nav-item" id="connexionNav">
                            <button id="butConnect">
                                <a class="nav-link" id="textBut" href="logout">Se déconnecter</a>
                            </button>
                        </li>

                <% }else{ %>
                    <li class="nav-item" id="connexionNav">
                            <button id="butConnect">
                                <a class="nav-link" id="textBut" href="login">Connexion</a>
                            </button>
                        </li>
                <% } %>
            </ul>

        </div>
    </nav>