<%- include('navbar') %>
<div id="registerContainer">
<h1>S'inscrire</h1>
<p id="errorRegister">
<% if( locals.msg!="undefined"){ %>
<%=locals.msg %>
<% } %>
</p>
<form method="POST" >
    <div>
        <input type="text" id="name" name="name" placeholder="Nom">
    </div>
    <div>
        <input type="email" id="email" name="email"placeholder="E-mail">
    </div>
    <div>
        <input type="password" id="password" name="password"placeholder="Mot de passe">
        
    </div>
    <div>
        <input type="password" id="confirmPassword" name="confirmPassword"placeholder="Confirmez Mot de passe">
        
    </div>
    <button id="registerBut" type="submit">S'inscrire</button><br>
    <a id="linkLogin" href="login">Déja inscris ? Connectez vous</a>
</form>
</div>